.left-column
  %h5 We're making one aspect of life easier for parents of multiples:

  %p buying and selling gently used sets of clothes!

  = link_to "Shop Now!", auctions_path, class: "button primary"
  #tree= image_tag "homepage/tree.png"

.right-column
  #child_images
    = image_tag "children/twins.jpg"
    = image_tag "children/triplets.jpg"
    = image_tag "children/quads.jpg"

#content.social.full-column
  #dotted
  %ul
    %li= image_tag "homepage/facebook_callout.png"
    %li= image_tag "homepage/twitter_callout.png"
    %li= image_tag "homepage/message_board_callout.png"
    %li= image_tag "homepage/special_offers_callout.png"
